<div class="mainContent">
	<div>
		<br />
		<h1 class="label">Session Ended</h1>
	</div>
	<div class="signUpBlockDiv">
		<div class="label">
			<div class="signUpBlockDiv">
				<div class="signUpInputDiv label">
					The provider has ended the session.
				</div>
				<div class="signUpInputDiv label">
					Once the provider settles your account, <%= number_to_currency(@counseling_session.total_amount) %> will be deducted from your funds.
				</div>
			</div>
		</div>
	</div>
</div>
