<p id="notice"><%= notice %></p>

<p>
  <strong>Avail amount:</strong>
  <%= @site_fund.avail_amount %>
</p>

<%= link_to 'Edit', edit_site_fund_path(@site_fund) %> |
<%= link_to 'Back', site_funds_path %>
